/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh; /* 确保页面至少与视口高度一致 */
    flex-direction: column; /* 垂直排列子元素 */
    transition: background-color 0.3s, color 0.3s;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/* 基础样式 */

nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #c6ffff45;
    color: white; /* 鼠标悬停时改变文字颜色 */
}

/* 主内容区样式 */
.main-content {
    display: flex;
}

/* 左侧悬浮块样式 */
.sidebar {
    width: 200px;
    height: auto;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    flex-shrink: 0; /* 确保侧边栏不会缩小 */
    border-radius: 15px; /* 增加圆角效果 */
    margin-top:  20px;    /* 上外边距20像素 */
    background-color: #fff;
    position: sticky;
    top: 0;   
}
.sidebar2 {
    width: 200px;
    height: 520px;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    flex-shrink: 0; /* 确保侧边栏不会缩小 */
    border-radius: 15px; /* 增加圆角效果 */
    margin-top:  20px;    /* 上外边距20像素 */
    background-color: #fff;
    position: sticky;
    top: 0;   
}

.profile {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 20px;
    transition: transform 0.3s ease; /* 添加过渡效果 */
}
.profile:hover {
    transform: scale(1.05); /* 放大到原来的1.05倍 */
}

.profile .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile h3 {
    margin-top: 0.5rem;
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: -10px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    position: sticky;
    top: 0;   
}

.sidebar-nav ul li {
    margin-bottom: 1rem;
    position: sticky;
    top: 0;   
}

.sidebar-nav ul li a {
    color: #333;
    text-decoration: none;
    position: sticky;
    top: 0;   
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.social-icons a {
    color: #333;
    font-size: 1.5rem;
}

/* 右侧主内容样式 */
.main-page {
    margin-top:  20px;    /* 上外边距20像素 */
    margin-bottom:  20px;    /* 上外边距20像素 */
    margin-left:  20px;    /* 左外边距20像素 */
    border-radius: 15px; /* 增加圆角效果 */
    background-color: #fff;
    flex: 1; /* 占据剩余空间 */
    padding: 0 2rem; /* 添加一些间距 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-top: 10px;/*内距*/
}
.main-page h2 {
    margin-top:  10px;    /* 上外边距20像素 */
    text-align: center;
    margin-top: 0;
}
.main-page p {
    line-height: 1.6;
}
.header-image {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    border-radius: 10px; /* 增加圆角效果 */

}
/* 右侧博客容样式 */
.main-posts {
    margin-top:  20px;    /* 上外边距20像素 */
    margin-left:  20px;    /* 左外边距20像素 */
    margin-bottom:  20px;    
    margin-right:  20px;    
    border-radius: 15px; /* 增加圆角效果 */
    background-color: #fff;
    flex: 1; /* 占据剩余空间 */
    padding: 0 2rem; /* 添加一些间距 */
    transition: box-shadow 0.3s ease-in-out; /* 添加过渡效果 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* 阴影效果 */
    padding-top: 10px;
}

.main-posts h1 {
    margin-top:  20px;    /* 上外边距20像素 */
    margin-top: 0;
    transition: box-shadow 0.3s ease; /* 添加过渡效果 */
}

.blog-posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.post {
    position: relative; /* 绝对定位 */
    background: #f4f4f4;
    padding: 1rem;
    padding-bottom: 10px;
    border-radius: 10px;
}

.post h2 {
    margin-top: 0;
}

.read-more {
    color: #333;
    text-decoration: none;
}
.indented {
    text-indent: 2em; /* 设置首行缩进为2个字符的宽度 */
}
/* 插入图片样式 */
.post img {
    position: absolute; /* 绝对定位 */
    right: 0; /* 右对齐 */
    top: 0; /* 顶部对齐 */
    width: 200px; /* 图片宽度 */
    height: 100%; /* 保持图片比例 */
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}


/* 页脚样式 */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0rem 0;
}
/* 媒体查询 */
@media (max-width: 768px) {
    .container {
        width: 100%; /* 全宽 */
        padding: 1rem; /* 减少内边距 */
    }
    nav {
        flex-direction: column; /* 改为列布局 */
        align-items: center; /* 居中对齐 */
    }
    nav a {
        padding: 0.5rem; /* 减少内边距 */
    }
    .sidebar {
        width: 100%; /* 占满容器宽度 */
        margin-top: 1rem; /* 增加上外边距 */
    }
    .main-content {
        flex-direction: column; /* 改为列布局 */
    }
    .main-page, .main-posts {
        margin-left: 0; /* 移除左外边距 */
        margin-right: 0; /* 移除右外边距 */
        padding: 1rem; /* 增加内边距 */
    }
}
/*友链*/
.sidebar_f {
    width: 200px;
    height: 200px;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    flex-shrink: 0; /* 确保侧边栏不会缩小 */
    border-radius: 15px; /* 增加圆角效果 */
    margin-top:  20px;    /* 上外边距20像素 */
    background-color: #fff;
    position: sticky;
    top: 0;   
}

.profile_f {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 20px;
    transition: transform 0.3s ease; /* 添加过渡效果 */
}
.profile_f:hover {
    transform: scale(1.05); /* 放大到原来的1.05倍 */
}

.profile_f .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile_f h3 {
    margin-top: 0.5rem;
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: -10px;
}

.sidebar_f-nav ul {
    list-style: none;
    padding: 0;
    position: sticky;
    top: 0;   
}

.sidebar_f-nav ul li {
    margin-bottom: 1rem;
    position: sticky;
    top: 0;   
}

.sidebar_f-nav ul li a {
    color: #333;
    text-decoration: none;
    position: sticky;
    top: 0;   
}